{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'polls/foundation.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'polls/styles.css' %}" />

<div class="row">
  <div class=" large-8 large-centered columns" style="text-align: center">
  	<h1> The ultimate Foulsquare Client</h1>
  </div>
</div>  

<div class="row">
  <div class=" large-8 large-centered columns" style="text-align: center">

		<form action="{% url 'polls:search' %}" method="post">
		{% csrf_token %}

		    <input placeholder="I am looking for..." type="text" name="key_words" id="key_words"/>
		    <input placeholder="Location" type="text" name="location" id="location"/>

		<input id="button" type="submit" value="Search" />
		</form>

  </div>
</div>  

<div class="row">
  <div class=" large-9 columns">
  	{% if text %}
			<h2> {{text}}</h2>
		{% endif %}

		{% if results %}

  <table>
   <tr>
       <th>Name</th>
       <th>Phone Number</th>
       <th>Chekin Count</th>
   </tr>
    {% for result in results %}
    <tr>
    	 <td>{{ result.name }}</td>
       <td> {{ result.phone }}</td>
       <td> {{ result.count }}</td>

    </tr>    
    {% endfor %}
    <tr>
    	{% for x in xrange(1, total_page) %}
    	{{ x }}
    	{% endfor %}
    </tr>
  </table>
{% endif %}
  </div>
  <div class=" large-3  columns" >
  {% if latest_search %}
  	<h2>Previous Search</h2>
    <ul>
    {% for search in latest_search %}
        <li><a href="{% url 'polls:detail' search_id=search.id page=1 %}"> {{ search }}</a></li>
    {% endfor %}
    </ul>
	{% else %}
	    <p>No Search are available.</p>
	{% endif %}
	</div>

</div>






