<form action="{% url 'polls:search' %}" method="post">
{% csrf_token %}

    <input type="text" name="key_words" id="key_words"/>
    <input type="text" name="location" id="location"/>

<input type="submit" value="Search" />
</form>

{% if text %}
<p> {{text}}</p>
{% endif %}

{% if results %}

  <table>
   <tr>
       <td>Name</td>
       <td>Phone Number</td>
       <td>Chekin Count</td>
   </tr>
    {% for result in results %}
    <tr>
    	 <td>{{ result.name }}</td>
       <td> {{ result.phone }}</td>
       <td> {{ result.count }}</td>

    </tr>    
    {% endfor %}
  </table>
{% else %}  
Please Make a searrch
{% endif %}


{% if latest_search %}
    <ul>
    {% for search in latest_search %}
        <li><a href="{% url 'polls:detail' search.id %}"> {{ search }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No Search are available.</p>
{% endif %}